{% extends 'base.html' %}

{% block titulo %}
    <title>Jedis | Inicio</title>
{% endblock titulo %}

{% block content %}
<div class="row padding-top padding-bottom">
	<h1 id="">Padawans</h1>
	<br /><br />
	<table border="0" cellspacing="5" cellpadding="5">
		<!-- HEADER -->
		<tr>
			<th id="colNome">Nome</th>
			<th id="colEspecie">Raça</th>
			<th id="colSexo">Sexo</th>
			<th id="colIdade">Idade</th>
			<th id="colEmail">Email</th>
			<th id="colPoder">Midi-chlorians (Poder)</th>
		</tr>
		<!-- BODY -->
		{% for tupla in list %}
		<tr>
			<td>{{ tupla.nome }}</td>
			<td>{{ tupla.raca }}</td>					
			<td>{{ tupla.sexo }}</td>
			<td>{% if tupla.idade %}{{ tupla.idade }} {% else %} {% endif %}</td>
			<td>{{ tupla.email }}</td>
			<td>{% if tupla.poder %}{{ tupla.poder }} {% else %} {% endif %}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock content %}