{% extends 'base.html' %}

{% block titulo %}
    <title>Jedis | Inicio</title>
{% endblock titulo %}

{% block content %}
<div class="row padding-top padding-bottom">
	<h1 id="">Padawans</h1>
	<br /><br />
	<table border="0" cellspacing="5" cellpadding="5">
		<!-- HEADER -->
		<tr>
			<th id="colNome">Nome</th>
			<th id="colEspecie">Raça</th>
			<th id="colSexo">Sexo</th>
			<th id="colIdade">Idade</th>
			<th id="colEmail">Email</th>
			<th id="colPoder">Midi-chlorians (Poder)</th>
			<th id="Mestre">Mestre</th>
		</tr>
		<!-- BODY -->
		<tr>
			<td>Obi-Wan Kenobi</td>
			<td>Humano</td>					
			<td>M</td>
			<td>15</td>
			<td>owkenobi@ordemjedi.gal</td>
			<td>750000</td>
			<td>Qui-Gon Jinn</td>
		</tr>
		<tr>
			<td>Obi-Wan Kenobi</td>
			<td>Humano</td>					
			<td>M</td>
			<td>15</td>
			<td>owkenobi@ordemjedi.gal</td>
			<td>750000</td>
			<td>Qui-Gon Jinn</td>
		</tr>
		<tr>
			<td>Obi-Wan Kenobi</td>
			<td>Humano</td>					
			<td>M</td>
			<td>15</td>
			<td>owkenobi@ordemjedi.gal</td>
			<td>750000</td>
			<td>Qui-Gon Jinn</td>
		</tr>
		<tr>
			<td>Obi-Wan Kenobi</td>
			<td>Humano</td>					
			<td>M</td>
			<td>15</td>
			<td>owkenobi@ordemjedi.gal</td>
			<td>750000</td>
			<td>Qui-Gon Jinn</td>
		</tr>
		<tr>
			<td>Obi-Wan Kenobi</td>
			<td>Humano</td>					
			<td>M</td>
			<td>15</td>
			<td>owkenobi@ordemjedi.gal</td>
			<td>750000</td>
			<td>Qui-Gon Jinn</td>
		</tr>
		<tr>
			<td>Obi-Wan Kenobi</td>
			<td>Humano</td>					
			<td>M</td>
			<td>15</td>
			<td>owkenobi@ordemjedi.gal</td>
			<td>750000</td>
			<td>Qui-Gon Jinn</td>
		</tr>
		<tr>
			<td>Obi-Wan Kenobi</td>
			<td>Humano</td>					
			<td>M</td>
			<td>15</td>
			<td>owkenobi@ordemjedi.gal</td>
			<td>750000</td>
			<td>Qui-Gon Jinn</td>
		</tr>
		<tr>
			<td>Obi-Wan Kenobi</td>
			<td>Humano</td>					
			<td>M</td>
			<td>15</td>
			<td>owkenobi@ordemjedi.gal</td>
			<td>750000</td>
			<td>Qui-Gon Jinn</td>
		</tr>
	</table>
</div>
{% endblock content %}